body{
    background:  radial-gradient(circle,rgb(235, 52, 52),rgb(44, 44, 180),rgb(75, 59, 59));
}

.footer{
    background-color: black;
    width: 1510px;
    height: 70px;
}

.header{
    background-color: black;
    width: 1510px;
    height: 100px;
    /* text-align: center; */
    padding-top: 5px;
}


.inline{
    display:inline;
    font-style: italic;
    /* position: absolute;
    left:700px;
    font-size: 25px;
    top:-1%;
    padding-left: 100px; */
    /* text-align: center; */
    padding-left: 75px;
    font-size: 28px;
}



.white-color{

    color:white;
    font-style: italic;
    font-size: 30px;
}

.white-color1{

    color:white;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}


.black-color{
    color:black;
    font-style: italic;
}



li{
    list-style-type: none;
    font-size:20px;
    line-height: 2;
}

a{
    text-decoration: none;
    color:white;
}

.sidebar{
    background: radial-gradient(circle,gray,black);
    height: 480px;
    border-radius: 20px;
    border:1px solid black;
}

.sidebar1{
    height: 500px;
    position: absolute;
    left: 300px;
    top: 358px;
}

.backbutton{
    font-style: italic;
    position: absolute;
    margin-left: 1428px;
    margin-top: -60px;
    color:rgb(3, 3, 3);
    font-style: italic;
    font-size: 25px;   
}

.notes{
    background:radial-gradient(circle,gray,black);
    height: 70px;
    border-radius: 300px;
    border:3px solid white;
}

.lheight{
    height: 600px;
}

span:hover{
    color: goldenrod;
    font-size: 25px;
}

.backbutton1{
    color:black;
    font-style: italic;
    position: absolute;
    margin-left: 1390px;
    margin-top: -60px;
}

.red-color{

    color:red;
    font-style: italic;
    font-size: 20px;
    background-color:black;
    border-radius: 20px;
    border: 2px solid white;
    width:120px;
}
p:hover{
    color:yellow;
    background-color: red;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent;
}

.red-colorb{

    color:red;
    font-style: italic;
    font-size: 20px;
    background-color:black;
    border-radius: 20px;
    border: 2px solid white;
    width:120px;
    padding-left: 15px;
}